.game h1 {
  font-size: 3.5em;
}

.game span {
  color: orange;
  font-weight: bold;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 70%;
  margin: 0 auto;
  border: 1px solid #046E6E;
  border-radius: 1em;
}

.stats p {
  margin: .25em;
}

.stats span {
  font-size: 1.2em;
  text-transform: capitalize;
}

.wordContainer {
  display: flex;
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 1em;
}

.letter, .blankSquare {
  height: 1.5em;
  width: 1.5em;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  border: 2px solid #046E6E;
  border-radius: .3em;
  margin: .1em;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;;
}

.letterContainer input {
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  text-align: center;
  margin-right: .5em;
  border: 2px solid #046E6E;
  border-radius: .3em;
  outline: none;
  background-color: transparent;
  color: #fff;
}

button.try {
  width: 2.7em;
  height: 2.7em;
  padding: 0;
  background: url(right-arrow.svg) no-repeat;
  border: none;
  cursor: pointer;
}

button.try:hover{
  background-color: transparent;
  box-shadow: 0 0 20px rgba(255,255,255,.1);
}

.wrongLettersContainer {
  margin-top: 3em;
}

.wrongLettersContainer p {
  font-size: 1.3em;
}


.wrongLettersContainer span {
  font-size: 2.5em;
  text-transform: uppercase;
}
