.gameover_container h1 {
  font-size: 3.5em;
  color: orange;
}

.gameover_container p {
  font-size: 1.5em;
}

.score span {
  color: #046E6E;
  font-weight: bold;
}

.reveal_word {
  display: block;
  margin: 2em auto 3em auto;
}

.reveal_word p {
  margin: .2em;
}

.reveal_word span {
  font-size: 2.5em;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
}